extends layout

block content
    h1.title Library Application
    p
        a.button(href='/books/new') Create New Book
    form.search-form(action=`/books/search`, method="get")
        input.search-input(type="text",placeholder="title, author etc..." name='search')
        button.search-submit(type="submit") Search
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year   
        tbody
            each book in books  
                tr
                    td
                        a(href=`/books/${book.id}`) #{book.title} 
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year} 
    if search                           
        include search-pagination
    else 
        include pagination